*{
  padding: 0px;
  margin: 0px;  
}
.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.navbar{
  height:40px;
  padding: 4px;
  display:flex;
  align-items: center;
  gap:20px;
  position: fixed;
  top: 0;
  /* margin-bottom: 40px;  */
  width:100%;
  background-color: rgb(255, 196, 196);
}
@media screen and (max-width:500px) {
  .contacts{
    display:none !important;
  }
}
.navbar_link{
  padding:5px;
  border-radius: 5px;
  /* font-size: 14px; */
}
.navbar_link:hover{
  cursor:pointer;
  background-color:rgb(249, 171, 171);
}
.logout{
  margin-left: auto;
  margin-right: 15px;
}
.main{
padding-top: 50px;
  /* margin-top:40px; */
}

.signup_form_parent{
  width:100vw;
  height:100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(250, 247, 247);
  margin-top: -50px;
}
.signup_redirect{
  text-decoration :underline;
  cursor: pointer;
}
.signup_form{
  margin: auto;
  height: auto;
  width:310px;
  border: 1px solid grey;
  border-radius:15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.signup_form > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.signin_form{
  margin: auto;
  height: auto;
  width:310px;
  border: 1px solid grey;
  border-radius:15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.signin_form > h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.signin_form > p {
  margin-top: 5px;
}
.verifyemail{
  margin: auto;
  height: auto;
  width:310px;
  border: 1px solid grey;
  border-radius:15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.shake{
  animation:  shake 0.8s;
}
  
@keyframes shake{
      0%{
        transform: translateX(0)
      }
      25%{
        transform: translateX(25px);
      }
        
      50%{
        transform: translateX(-25px);
      }
      100%{
        transform: translateX(0px);
      }
} 

.input{
  height:auto;
  margin-top: 8px;
  /* font-size: 16px; */
  /* padding: 3px; */
}
.btn{
  border:none;
  font-size: 14px;
}
.home_parent{
  width:100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 50vh;
  

}
.home{
  padding: 10px;
  gap:20px;
  margin-bottom: 15px;
}
.home > h2 {
  margin-bottom: 5px;
}
.dashboard{
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}
.dashboard:hover{
  cursor:pointer;
}
.dashboard_content{
  height:100px;
  width:100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 8px;
  /* padding: 10px; */
}
.count{
  font-size:25px;
}
.leads_parent{
  margin-top: 5px;
}
.lead_display{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:7px;
  margin-top: 8px;
}
.add_lead_btn{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px;
  border:none;
  border-radius: 5px;
  background-color:rgb(0, 217, 255);
  padding:8px;
}

.oneLead{
  padding: 10px;
  border-radius: 10px;
  width:300px;
  text-align: left;
  border: 1px solid grey;
  height:auto;
}
.content{
  display:flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.bold{
  font-weight: bold;
  margin-right:5px;
}
.h6_custom{
  font-size:14px
}
.option{
  margin-left: 5px;
}
.save_changes{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px;
  margin-right: 8px;
}

/* ADD NEW LEAD FORM  */
.addLead_parent{
  display:flex;
  justify-content: center;
}
.addLead_form{
  display:flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  /* border: 1px solid grey; */
  margin-top: 20px;
  padding:8px;
  border-radius: 8px;
  /* border:none; */
  /* background-color: rgb(244, 237, 237); */
}
.addLead_form_save{
  height:39px;
  margin-top: 15px;
  font-size:18px;
  margin-bottom: 15px;
  padding: 3px;
  background-color: rgb(4, 180, 255);
  border:none;
  border-radius: 3px;
  /* text-align:center; */
  display: flex;
  justify-content: center;
  align-items: center;
  outline:none;
}
.addLead_label{
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}
.addLead_input{
  font-size: 16px;
  height:auto;
}
.addLead_form >h3 {
  margin-bottom: 14px;
  margin-top: 10px;
}
.addLead_option{
  font-size: 16px;
  text-align: left;
  /* margin-top: 10px; */
  margin-bottom: 5px;
}

.passResetDiv{
  margin: auto;
  height: auto;
  /* width:310px; */
  /* border: 1px solid grey; */
  /* border-radius:15px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/*  */
.forgot{
  display: block;
  cursor: pointer;
}
.forgot:hover{
  text-decoration: underline;
}